force-app/main/default/flows/Update_Event_Status_Based_On_Event_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Event_Date_past_Date</name>
        <label>Check Event Date past Date?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Past_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>Past Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update Event Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Event Status Based On Event Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Event_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Event_Date_past_Date</targetReference>
        </connector>
        <object>Event__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-02</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
